/* Reset and Basic Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Pizza cards */
.pizza-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto 2rem;
  max-width: 350px;
  min-height: 150px;
  border: 1px solid grey;
}
.pizza-card img {
  grid-row: span 4;
  align-self: stretch;
  object-fit: cover;
  object-position: center;
}
.pizza-card h3 {
  padding: 1rem 1rem 0;
}
.pizza-card p {
  padding: 0.5rem 1rem;
}
.pizza-card p:last-of-type {
  text-align: right;
}

/* Pizza modal */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
.pizza-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  padding: 1.5rem;
  border: 3px solid tomato;
  background: #fff;
  transform: translate(-50%, -50%);
}

.show-modal {
  display: block;
}
