/* Reset and Basic Styles */
:root {
  --font-base: 'Roboto', sans-serif;
  --font-display: 'Lobster', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  background: url('https://images.pexels.com/photos/13985154/pexels-photo-13985154.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-base);
  color: #333;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 2rem;
}

img {
  max-width: 100%;
}

input {
  font-family: inherit;
}

h1 {
  margin: 3rem 0 4rem;
  font-family: var(--font-display);
  font-size: 4rem;
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 0 #ce3015;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: tomato;
  font-family: var(--font-base);
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: scale(0.95);
}

.button--small {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  background: grey;
}

.button--small:active {
  transform: scale(0.9);
}

/* Pizza Form */
.p-form {
  padding: 2rem;
  background: #fff;
  border-top: 5px solid tomato;
}

.p-form h3 {
  padding: 2.5rem 0 1rem;
}
.p-form h3:first-of-type {
  padding-top: 1rem;
}

.p-names input {
  display: none;
}
.p-names {
  display: grid;
  gap: 1rem;
}
.p-name {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(3, auto);
  border: 1px solid tomato;
  cursor: pointer;
}
.p-name img {
  grid-row: 1 / span 3;
  align-self: stretch;
  object-fit: cover;
  object-position: center;
}
.p-name strong,
.p-name p {
  padding: 0.5rem 0.5rem 0;
}
.p-name p:last-child {
  padding-bottom: 0.5rem;
}

.p-names input:checked + label {
  border-width: 5px;
}

.p-small {
  display: grid;
  grid-template-columns: 2rem auto;
  row-gap: 0.5rem;
  padding: 1rem;
  border: 1px solid tomato;
}

.p-number {
  padding: 0.5rem 1rem;
  border: 1px solid tomato;
}

.p-form .button {
  margin: 3rem auto 1rem;
}

/* Shopping Cart */

.cart {
  padding: 2rem;
  background: #fff;
  border-top: 5px solid tomato;
}

.cart h2 {
  margin-bottom: 3rem;
  color: tomato;
  text-align: center;
}

.pizza-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid tomato;
}

.total {
  display: none;
  width: max-content;
  margin-left: auto;
  padding: 0.5rem;
  background: tomato;
  color: white;
}
.total.visible {
  display: block;
}

.cart h3 {
  padding: 1.5rem 0 0.5rem;
}

.cart input[type='text'],
.cart select {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid tomato;
}

#orderForm button {
  margin: 2rem auto;
}

/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: url('https://images.pexels.com/photos/13985154/pexels-photo-13985154.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay.show {
  display: flex;
}

.modal {
  max-width: 500px;
  padding: 3rem 2rem 2rem;
  background: white;
}

.modal__title {
  margin-bottom: 1.5rem;
  font-family: var(--font-display);
  font-size: 2rem;
  color: tomato;
}

/* Summary table */
.modal__info table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}
.modal__info th {
  text-align: left;
}
.modal__info th,
.modal__info td {
  padding: 0.5rem;
  border: 1px solid tomato;
}
.modal__info p {
  margin-top: 1rem;
}
.modal__info strong {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: tomato;
  text-align: right;
}
