* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(to bottom right, #ffc0cb, #faf0e6);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Source Sans 3", sans-serif;
  color: #333;
  line-height: 1.2;
}

.wrapper {
  width: 80%;
  max-width: 300px;
  min-height: 100vh;
  padding: 2.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 0 5px #6c6c6c;
}

h2 {
  margin: 2rem 0 1rem;
}

form {
  padding-bottom: 1rem;
}

input,
label,
button {
  cursor: pointer;
}

.colors {
  display: flex;
}

input[type="color"] {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 50%;
  height: 50px;
}

input[type="radio"] {
  display: none;
}

.directions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 180px;
  margin: 0 auto;
}

.direction:nth-child(5) {
  border: none;
}

.direction label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
}
.direction label:hover {
  background: #e7e7e7;
}

input[type="radio"]:checked ~ label {
  background: #525252;
  color: #fff;
}

.code {
  display: block;
  text-align: left;
}

#copyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: auto;
  border: 1px solid #333;
  border-radius: 5px;
  background: #fff;
}
#copyBtn span {
  font-size: 1rem;
}
