* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: "Lato", sans-serif;
}

header,
section,
footer {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 0.5rem 1rem;
  background-color: orange;
  font-family: inherit;
  font-size: inherit;
}

#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
}
