* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: "Lato", sans-serif;
}

header,
section,
footer {
  padding: 1rem;
}

section {
  max-width: 800px;
  margin: 0 auto;
  scroll-margin-top: 60px;
}

footer {
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background {
  background-color: #fff;
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
  list-style-type: none;
}

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 0.5rem 1rem;
  background-color: orange;
  font-family: inherit;
  font-size: inherit;
}

.mobile {
  display: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
}

/* MODAL */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.9);
}

.overlay.visible {
  display: flex;
}

.modal {
  position: relative;
  max-width: 600px;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background: #fff;
}

.modal h2 {
  margin-bottom: 1rem;
}

#closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 500px) {
  body {
    background-color: pink;
  }

  nav ul {
    display: none;
  }

  .mobile {
    display: block;
  }

  .btn {
    padding: 0.5rem;
  }

  #backToTop {
    bottom: 1rem;
    right: 1rem;
  }

  ul.responsive {
    position: absolute;
    left: 0;
    top: 70px;
    display: block;
    width: 100%;
    background-color: #fff;
  }

  ul.responsive li {
    display: block;
    margin: 1rem;
  }
}
